* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
}

.social ul li {
    display: inline;
}

.social ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 13px;
   /* color: white; */
    background-color: gray;
    position: relative;
}
.social ul li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.container .social form ul li a:nth-child(1){
    color: black;
}



